<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PDF to Audio Converter</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

  </head>
  <body>
    <h1>Upload a PDF File to Get Started</h1>
    <form action="/" method="post" enctype="multipart/form-data">
      <input type="file" name="pdf_file" accept=".pdf">
      <input type="submit" value="Upload">
    </form>
  </body>
</html>
